html {
    font-size: 22px;
    
}

.fontforp {
    font-size: 40px;
    text-align: center;
}

.fontforh {

    font-size: 70px;
    text-align: center;
}

body {
    background-color: #333;
    color:whitesmoke;
}

a{
    color: aliceblue;
}

a:visited {
    color: lightgray;

}

a:hover{
    color: #eee;
}

table, tr,th,td, caption{
    border: 4px solid #6b6a6a;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 1rem;
}

.leftalign {
  text-align: left;
}

.simple-highlight {
    color: rgb(54, 50, 50);
    background-color: rgb(179, 29, 29);
    padding: 0.1em 0.1em;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .red {
    color:red;
  }